.custom-checkbox {
  cursor: pointer;
  display: inline-block;
}

.checkmark {
  border: 1px solid #ccc;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: #2196F3;
} 